@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blog-bg: #e9effd;
  --primary-border: #98b4f6;
  --primary-light: #5c69e2;
  --primary: #1a0f91;
  --primary-dark: #0c0265;
  --secondary: #e14f48;
  --secondary-dark: #c93d36;
  --text: #1e293b;
  --text-mild: #334155;
  --text-light: #64748b;
}

/* hero bg image */
.blog-hero-bg {
  background-image: linear-gradient(to bottom, #ffffff 0%, #e9effd 100%);
}

p {
  margin-bottom: 16px;
}
